/* Стиль для контейнера медиа */
.media-container {
  position: relative; /* Относительное позиционирование для контейнера */
  width: 100%; /* Ширина контейнера */
  height: 100vh; /* Высота контейнера равна высоте окна просмотра */
  overflow: hidden; /* Скрыть переполнение */
}

/* Стиль для видео, чтобы оно покрывало весь экран */
#myVideo {
  position: fixed; /* Зафиксировать видео в окне просмотра */
  top: 0; /* Верхний край */
  left: 0; /* Левый край */
  width: 100%; /* Ширина видео */
  height: 100%; /* Высота видео */
  object-fit: cover; /* Покрыть весь экран без черных полос */
}

/* Стиль для кнопки, используемой для паузы/воспроизведения видео */
#myBtn {
  position: absolute; /* Абсолютное позиционирование */
  top: 50%; /* Центрировать по вертикали */
  left: 50%; /* Центрировать по горизонтали */
  transform: translate(-50%, -50%); /* Сместить назад на половину ширины и высоты */
  width: 15%; /* Ширина кнопки */
  height: 10%; /* Высота кнопки */
  font-size: 35px; /* Размер шрифта текста кнопки */
  padding: 10px; /* Отступ внутри кнопки */
  border: none; /* Убрать стандартную границу */
  background: rgb(8, 202, 27); /* Синий фон */
  color: #fff; /* Белый текст */
  cursor: pointer; /* Курсор-указатель при наведении */
  border-radius: 15px; /* Скруглить углы кнопки */
  z-index: 1; /* Убедиться, что кнопка находится поверх видео */
  box-shadow: 0px 30px 60px #02153dd0; /* смещение-x | смещение-y | размытие-радиус | разброс-радиус | цвет */
}

/* Стиль для кнопки при наведении */
#myBtn:hover {
  transform: translate(-50%, -50%) scale(1.1);; /* Плавный переход для трансформации */
  color: #fff; /* Белый текст */
  box-shadow: 0px 0px 40px rgba(3, 227, 25, 0.727); /* смещение-x | смещение-y | размытие-радиус | разброс-радиус | цвет */
}

/* Стиль для изображения, чтобы оно покрывало весь экран */
#myImage {
  position: absolute; /* Абсолютное позиционирование */
  top: 20%; /* Центрировать по вертикали */
  left: 50%; /* Центрировать по горизонтали */
  transform: translate(-50%, -50%); /* Сместить назад на половину ширины и высоты */
  width: 80%; /* Уменьшить ширину изображения */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  object-fit: cover; /* Покрыть весь экран без черных полос */
  z-index: 2; /* Убедиться, что изображение находится под видео и кнопкой */
}

/* Стиль для элемента, который продлевает страницу вниз */
.spacer {
  height: 2000px; /* Устанавливает высоту элемента, чтобы продлить страницу вниз */
}

/* Стиль для квадрата с градиентом */
.square {
  position: absolute; /* Абсолютное позиционирование */
  top: 0; /* Верхняя позиция */
  left: 0; /* Левая позиция */
  width: 100%; /* Ширина квадрата */
  height: 1000vh; /* Высота контейнера равна высоте окна просмотра */
  background-image: linear-gradient(to bottom, transparent, rgba(16, 15, 15, 0.99), rgb(16, 15, 15), rgb(16, 15, 15), rgb(16, 15, 15)); /* Градиент от прозрачного к черному с промежуточными цветами */
  z-index: 0; /* Убедиться, что квадрат находится под другими элементами */
}

/* Стиль для контейнера квадратов */
.container {
  position: relative; /* Относительное позиционирование */
  width: 100%; /* Ширина контейнера */
  height: 100vh; /* Высота контейнера равна высоте окна просмотра */
}

/* Общий стиль для квадратов */
.square-image {
  position: absolute; /* Абсолютное позиционирование */
  width: 400px; /* Ширина квадрата */
  height: 400px; /* Высота квадрата */
  background-size: cover; /* Размер фона */
  background-position: center; /* Позиционирование фона */
  border-radius: 20px; /* Скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для квадрата */
  transition: transform 0.3s; /* Плавный переход для трансформации */
}

/* Эффект при наведении */
.square-image:hover {
  transform: scale(1.05); /* Увеличение при наведении */
}

/* Индивидуальные стили для каждого квадрата */
#square1 {
  top: 20%; /* Позиция сверху */
  left: 10%; /* Позиция слева */
  border: 2px solid #ff0000; /* Красная граница */
}

#square2 {
  top: 40%; /* Позиция сверху */
  left: 40%; /* Позиция слева */
  border: 2px solid #00ff00; /* Зеленая граница */
}

#square3 {
  top: 60%; /* Позиция сверху */
  left: 70%; /* Позиция слева */
  border: 2px solid #0000ff; /* Синяя граница */
}
